<div class="container mt-5">
    <h3 class="text-center">รายชื่อสมาชิกในกลุ่ม</h3>
    <table class="table table-striped mt-4">
        <thead class="bg-dark text-white">
            <tr>
                <th scope="col">#</th>
                <th scope="col">รหัสนักศึกษา</th>
                <th scope="col">ชื่อ</th>
                <th scope="col">นามสกุล</th>
                <th scope="col">ชื่อเล่น</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>5921207014</td>
                <td>ชินภัทร์</td>
                <td>กองชัยมงคล</td>
                <td>วิน</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>5921207015</td>
                <td>ณัฐพงษ์</td>
                <td>ยูวิหค</td>
                <td>เมฆ</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>5921207003</td>
                <td>รัชกร</td>
                <td>สุรพัชรเดชา</td>
                <td>ณัฐ</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Untitle</td>
                <td>Untitle</td>
                <td>Untitle</td>
                <td>Untitle</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Untitle</td>
                <td>Untitle</td>
                <td>Untitle</td>
                <td>Untitle</td>
            </tr>
        </tbody>
    </table>
</div>